<div *ngIf="seller">

    <nb-card>
      <nb-card-header>Deine Händler</nb-card-header>
    
      <nb-card-body>

        <div *ngIf="seller.length == 0">
            <br>
            <div class="noseller"> Du hast noch keinen Händler besucht.</div>
            <br>
            <div class="noseller"> Gehe auf 'Händler in der Nähe', um zu sehen bei welchen Händlern du mit LOLOCO sparen kannst.</div>
            <br>
        </div>


    <ul id="rig">
      <li *ngFor="let s of seller; let i=index; let last=last" (click)="showLargeModal(s)">
          <div *ngIf="seller.length>=i" > 
          <a class="rig-cell">
             <img id="image" class="rig-img" [src]="getSellerPic(s)">
              <span class="rig-overlay"></span>
              <span class="rig-text"></span>
            </a>
        </div> 
      </li>
    <!--  <li>
          <a class="rig-cell" (click)="showLargeModal(2)">
              <img class="rig-img" src="../../../assets/images/seller/2.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(3)">
              <img class="rig-img" src="../../../assets/images/seller/3.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(4)">
              <img class="rig-img" src="../../../assets/images/seller/4.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(5)">
              <img class="rig-img" src="../../../assets/images/seller/5.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(6)">
              <img class="rig-img" src="../../../assets/images/seller/6.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(7)">
              <img class="rig-img" src="../../../assets/images/seller/7.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(8)">
              <img class="rig-img" src="../../../assets/images/seller/8.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(9)">
              <img class="rig-img" src="../../../assets/images/seller/9.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(10)">
              <img class="rig-img" src="../../../assets/images/seller/10.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here-</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(11)">
              <img class="rig-img" src="../../../assets/images/seller/11.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here</span>
          </a>
      </li>
      <li>
          <a class="rig-cell" (click)="showLargeModal(12)">
              <img class="rig-img" src="../../../assets/images/seller/12.png">
              <span class="rig-overlay"></span>
              <span class="rig-text"><!--Text here</span>
          </a>
      </li> -->
  </ul>

</nb-card-body>
</nb-card>
</div>

