<div class="modal-header">
  <span>{{ modalSellername }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{ modalSellertext }}
  <br>
  <br>
  <div>
    <nb-card>
      <nb-card-header>Mein Gutschein</nb-card-header>
      <nb-card-body>

        <!-- Breite >= 992px &&  QR-Code angezeigt-->
        <div class="maxw992" *ngIf="remainingScans() == 0">

          <div class="row show-grid">
            <div class="col-12 col-sm-6 col-md-8">
              <div class="coupontextleft">

                <br>
                <br>
                <!-- Gutscheinbezeichnung-->
                <h5>{{modalCoupontext}}</h5>
                <!-- Gutscheindetails-->
                <h6 class="coupondetail">{{modalCouponDetail}}</h6>
                <br>
                <!-- Gutscheincodestring
          <span>{{modalCredit}}</span> -->
              </div>

            </div>

            <div class="col-6 col-md-4">

              <!--QR-CODE -->
              <div class="qrcode">
              <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="qr"></ngx-qrcode>
              <div class="codeManual1">{{modalCredit}}</div>
              </div>

            </div>
          </div>
          
          
        </div>




        



        <!-- Breite >= 992px &&  Solar angezeigt-->
        <div class="maxw992" *ngIf="remainingScans() == 1">


            <div class="coupontext">

                <br>
                <!-- Gutscheinbezeichnung-->
                <h5>{{modalCoupontext}}</h5>
                <!-- Gutscheindetails-->
                <h6 class="coupondetail">{{modalCouponDetail}} </h6>
                <br>
                <!-- Gutscheincodestring
                <span>{{modalCredit}}</span> -->
              </div>
    
    
              <div *ngIf="remainingScans() == 1">
    
                <nb-card size="xsmall" class="solar-card">
                  <nb-card-body>
                    <!-- Solar-Anzeige -->
                    <div echarts [options]="option" class="echart"></div>
    
                    <!-- Verbleibend zu sammelnde Punkte-->
                    <div class="info">
                      <div class="value">Sammle noch {{modalMissingPoints}} LoloCOINs um diesen Gutschein freizuschalten!</div>
                    </div>
    
                  </nb-card-body>
                </nb-card>
    
              </div>
    
          </div>












        <!-- Breite < 992px -->
        <div class="minw992">


          <div class="coupontext">

            <br>
            <!-- Gutscheinbezeichnung-->
            <h5>{{modalCoupontext}}</h5>
            <!-- Gutscheindetails-->
            <h6 class="coupondetail">{{modalCouponDetail}} </h6>
            <br>
            <!-- Gutscheincodestring
            <span>{{modalCredit}}</span> -->
          </div>


          <!-- 1. Fall: Noch nicht ausreichend Punkte gesammelt -->
          <div *ngIf="remainingScans() == 1">


            <nb-card size="xsmall" class="solar-card">
              <nb-card-body>
                <!-- Solar-Anzeige -->
                <div echarts [options]="option" class="echart"></div>

                <!-- Verbleibend zu sammelnde Punkte-->
                <div class="info">
                  <div class="value">Sammle noch {{modalMissingPoints}} LoloCOINs um diesen Gutschein freizuschalten!</div>
                </div>

              </nb-card-body>
            </nb-card>

          </div>


          <!--2. Fall: Ausreichend Punkte gesammelt -->
          <div *ngIf="remainingScans() == 0" class="qrcode">
            <!--QR-CODE -->
            <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="qr"></ngx-qrcode>
            <div class="codeManual2">{{modalCredit}}</div>
          </div>


          
        </div>




        
      </nb-card-body>

    </nb-card>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="closeModal()">Schließen</button>
</div>