<div class="modal-header">
  <span>{{ modalSellername }}</span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  {{ modalSellertext }}
  <br>
  <br>
  <div>
    <nb-card size="xsmall" class="solar-card">
      <nb-card-header>Meine Gutschein</nb-card-header>
      <nb-card-body>

          <!-- Gutscheinbezeichnung-->
          <span>{{modalCoupontext}}</span>
          
          <!-- Gutscheindetails-->
          <span>{{modalCouponDetail}} </span>
          
          <!-- Gutscheincodestring
          <span>{{modalCredit}}</span> -->
          


        <!--1. Fall: Noch nicht ausreichend Punkte gesammelt -->
        <div *ngIf="!remainingScans() == 0">

          <!-- Solar-Anzeige -->
          <div echarts [options]="option" class="echart"></div>

          <!-- Verbleibend zu sammelnde Punkte-->
          <div class="value" >Noch {{ modalMissingPoints}} Punkte bis zum nächsten Gutschein!</div>

        </div>


        
        <!--2. Fall: Ausreichend Punkte gesammelt -->
        <div *ngIf="remainingScans() == 0">

            <!--QR-CODE -->                      
            <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="qr"></ngx-qrcode>

        </div>


        <!--


        <div class="info">
          <ngx-qrcode [qrc-element-type]="elementType" [qrc-value]="qr"></ngx-qrcode>

          

          
          <div >
            <div class="details">Ausreichend Punkte gesammelt</div>
            <br>
            <button class="btn btn-md btn-primary" (click)="CreateCredit()">Gutschein anzeigen</button>

            <br>
          </div>

          <div class="details">
            <span>&nbsp;</span>&nbsp;</div>

        </div>


      -->

      </nb-card-body>

    </nb-card>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="closeModal()">Schließen</button>
</div>