<nb-card>
        <nb-card-header>Persönliche Daten</nb-card-header>
        <nb-card-body>

           <!-- Name des Geschaefts //ffried 06.12. -->
          <div class="input-group">
            <input type="text" placeholder="Unternehmen" class="form-control"/>
          </div>

           <!-- Vor- und Nachname //ffried 06.12. -->
          <div class="row full-name-inputs">
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Vorname" class="form-control"/>
            </div>
            <div class="col-sm-6 input-group">
              <input type="text" placeholder="Nachname" class="form-control"/>
            </div>
          </div>

           <!-- Adresse //ffried 06.12. -->
           <div class="row full-name-inputs">
          <div class="col-md-8 input-group">
            <input type="text" placeholder="Unternehmensadresse" class="form-control"/>
          </div>
          <div class="col-md-4 input-group">
            <input type="text" placeholder="Hausnummer" class="form-control"/>
          </div>
        </div>
        <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="PLZ" class="form-control"/>
          </div>
          <div class="col-sm-6 input-group">
            <input type="text" placeholder="Ort" class="form-control"/>
          </div>
        </div>
          
          <!-- Branche //ffried 06.12. -->
          <br>
          <small class="form-text">Wählen Sie Ihre Branche
            </small>
          <div class="form-group">
              <select class="form-control">
                  <option> </option>
                  <option>Gastronomie</option>
                  <option>Bar/Club</option>
                  <option>Lebensmittel</option>
                  <option>Fachgeschäft</option>
                  <option>Dienstleister</option>
                  <option>Hotel/Unterkunft</option>
                  <option>Sonstige</option>
              </select>
            </div>

          <!-- Werbetext //ffried 06.12. -->
          <small class="form-text">Beschreiben Sie Ihr Angebot in einem kurzen Text. Dieser Text wird für Ihre Kunden sichtbar sein.
            </small>
          <div class="input-group">
            <textarea rows="5" placeholder="Werbetext" class="form-control"></textarea>
          </div>
        </nb-card-body>
      </nb-card>




      <nb-card>
          <nb-card-header>Individuelles Gutschein System</nb-card-header>
          <nb-card-body>


              <div class="row coupon-inputs">
                  <div class="col-sm-6 input-group">
                      <h4>Bei einem Umsatz pro Kunde von: </h4>
                  </div>
                  <div class="col-sm-6 input-group">
                    <input type="number" placeholder="€ Umsatz eingeben" class="form-control"/>
                  </div>

                 
                </div>

                <div class="row coupon-inputs">
                    <div class="col-sm-6 input-group">
                        <h4>Stelle ich einen Gutschein aus in Höhe von: </h4>
                    </div>
                    <div class="col-sm-6 input-group">
                      <input type="number" placeholder="€ Gutschein eingeben" class="form-control"/>
                    </div>
                  </div>
      

<br><br>

              <button type="submit" class="btn btn-danger">Speichern</button><br>
          </nb-card-body>
        </nb-card>