<nb-card>
        <nb-card-header>Persönliche Daten</nb-card-header>
        <nb-card-body>
         <!-- Name des Geschaefts //ffried 06.12. -->
          <div class="input-group">
              <input id="businessname" *ngIf="person.businessname" type="text" placeholder="Unternehmen" [value]="person.businessname" class="form-control"/>
              <input *ngIf="!person.businessname" id="businessname" type="input" class="form-control" placeholder="Unternehmen"/>
          </div>

           <!-- Vor- und Nachname //ffried 06.12. -->
          <div class="row full-name-inputs">
            <div class="col-sm-6 input-group">
                <input *ngIf="person.firstname" id="firstname" type="input" [value] ="person.firstname" class="form-control" placeholder="Vorname"/>
                <input *ngIf="!person.firstname" id="firstname" type="input" class="form-control" placeholder="Vorname"/>
            </div>
            <div class="col-sm-6 input-group">
                <input *ngIf="person.lastname" id="lastname" type="input" [value] ="person.lastname" class="form-control" placeholder="Nachname"/>
                <input *ngIf="!person.lastname" id="lastname" type="input" class="form-control" placeholder="Nachname"/> 
            </div>
          </div>

          
           <!-- Adresse //ffried 06.12. -->
          <div class="input-group">
              <input id ="street" *ngIf="person.street" type="text" [value]="person.street" class="form-control" placeholder="Unternehmensadresse"/>
              <input *ngIf="!person.street" id="street" type="input" class="form-control" placeholder="Unternehmensadresse"/>
          </div>
          <div class="input-group">
              <input id="housenumber" *ngIf = "person.housenumber" type="text" [value]="person.housenumber" class="form-control" placeholder="Hausnummer"/>
              <input *ngIf="!person.housenumber" id="housenumber" type="input" class="form-control" placeholder="Hausnummer"/>
          </div>
          <div class="row full-name-inputs">
            <div class="col-sm-6 input-group">
                <input id="plz" *ngIf="person.plz" type="text" placeholder="PLZ" [value]="person.plz" class="form-control"/>
                <input *ngIf="!person.plz" id="plz" type="input" class="form-control" placeholder="PLZ"/>
            </div>
            <div class="col-sm-6 input-group">
                <input *ngIf="person.city" id="city" type="text" placeholder="Ort" [value]="person.city" class="form-control"/> 
                <input *ngIf="!person.city" id="city" type="input" class="form-control" placeholder="Ort"/>
            </div>
          </div>
          <!-- Branche //ffried 06.12. Datenbankintegration fehlt ab hier --> 
        
          <br>
          <small class="form-text">Wählen Sie Ihre Branche
            </small>
          <div class="form-group">
              <select class="form-control">
                  <option> </option>
                  <option>Gastronomie</option>
                  <option>Bar/Club</option>
                  <option>Lebensmittel</option>
                  <option>Fachgeschäft</option>
                  <option>Dienstleister</option>
                  <option>Hotel/Unterkunft</option>
                  <option>Sonstige</option>
              </select>
            </div>

          <!-- Werbetext //ffried 06.12. -->
          <small class="form-text">Beschreiben Sie Ihr Angebot in einem kurzen Text. Dieser Text wird für Ihre Kunden sichtbar sein.
            </small>
          <div class="input-group">
            <textarea rows="5" placeholder="Werbetext" class="form-control"></textarea>
          </div>
        </nb-card-body>
      </nb-card>




      <nb-card>
          <nb-card-header>Individuelles Gutschein System</nb-card-header>
          <nb-card-body>
              <div class="row coupon-inputs">
                  <div class="col-sm-6 input-group">
                      <h4>Bei einem Umsatz pro Kunde von: </h4>
                  </div>
                  <div class="col-sm-6 input-group">
                    <input type="number" placeholder="€ Umsatz eingeben" class="form-control"/>
                  </div>
                </div>
                <div class="row coupon-inputs">
                    <div class="col-sm-6 input-group">
                        <h4>Stelle ich einen Gutschein aus in Höhe von: </h4>
                    </div>
                    <div class="col-sm-6 input-group">
                      <input type="number" placeholder="€ Gutschein eingeben" class="form-control"/>
                    </div>
                  </div>
<br><br>
              <button type="submit" class="btn btn-danger">Speichern</button><br>
          </nb-card-body>
        </nb-card>