<h4>Händler-Dashboard</h4>

<nb-card>
  <nb-card-header>Aktueller Status</nb-card-header>
  <nb-card-body>
    <div class="row show-grid">
      <div class="col-md-4">
        <br>
        <div class="beschreibungen">Anzahl offener LoloCOINs &nbsp;
            <div class="qs2">?
                <div class="popover above">Anzahl der LoloCOINs die Kunden aktuell bei mir gesammelt haben, die aber noch nicht in Gutscheine umgewandelt wurden.
                </div>
            </div>
        </div>
        <br>
        <div class="daten"><img class="lolocoin" src="../../../assets/images/LOLOCO_Coin.png">&nbsp;&nbsp;25</div>
        <br>
      </div>
      <div class="col-md-4">
        <br>
          <div class="beschreibungen">Anzahl offener Gutscheine &nbsp;
              <div class="qs3">?
                  <div class="popover above">Anzahl der offenen Gutscheine, die Kunden bei mir bereits freigeschaltet, aber noch nicht eingelöst haben.
                  </div>
              </div>
          </div>
          <br>
          <div class="daten"><img class="loloqr" src="../../../assets/images/LOLOCO_QR.png">&nbsp;&nbsp;25</div>
        <br>

      </div>
      <div class="col-md-4">
        <br>
          <div class="beschreibungen">Geldwert offener Gutscheine &nbsp;
              <div class="qs4">?
                  <div class="popover above">Finanzieller Gesamtwert der noch offenen Gutscheine.
                  </div>
              </div>
          </div>
          <br>
        <div class="daten"> <div class="euro">€</div> &nbsp;25</div>
        <br>
        
      </div>
    </div>

  </nb-card-body>
</nb-card>


<div class="row">
  <div class="col-md-12">

    <ngx-echarts></ngx-echarts>

  </div>
</div>

<!--Aufwändige Statistik ohne Funktion
<div class="row">
    <div class="col-md-12">
      <ngx-electricity></ngx-electricity>
    </div>
  </div>-->


<toaster-container [toasterconfig]="config"></toaster-container>




<!--
<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
  <!--  <ngx-solar [chartValue]="72"></ngx-solar> -->

<!--   <ngx-kitten></ngx-kitten> -->

<!--
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div>

-->