@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

.beschreibungen{
  text-align: center;
}

.daten{
  text-align: center;
  font-size: 2.5rem;
  color: #009fe3;
}
.euro{
  display: inline;
  font-size: 3rem;
  top: -5px; 
}
.lolocoin{
  height: 50px;
  width: 50px;
  margin-top: -5px; 
}
.loloqr{
  height: 45px;
  width: 45px;
  margin-top: -5px; 
}

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}

@include nb-install-component() {
  
    .font-secondary .font-header .name {
      font-size: 4.5rem;
      line-height: 4rem;
      font-weight: nb-theme(font-weight-bold);
    }
  
    .font-main .font-header .name {
      font-size: 3rem;
      font-weight: nb-theme(font-weight-bold);
    }
  
    .font-row {
      &:first-child {
        margin-bottom: 2rem;
      }
  
      .header {
        align-items: baseline;
      }
  
      p {
        margin: 0;
      }
    }
  
    .headings-card {
      nb-card-body {
        padding: 1rem 1.25rem;
      }
      .header {
        padding-bottom: 0.675rem;
        margin-bottom: 0.675rem;
  
        &:last-child {
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
    }
  
    .header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid nb-theme(separator);
      color: nb-theme(color-fg-heading);
  
      &:last-child {
        border-bottom: none;
        padding: 0;
        margin: 0;
      }
  
      div:first-child {
        flex: 2;
        -ms-flex: 2 1 auto;
        line-height: 1;
        align-items: flex-end;
  
        h1, h2, h3, h4, h5, h6 {
          margin-bottom: 0;
        }
      }
  
      .variants {
        flex: 1;
        -ms-flex: 1 1 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
  
        span {
          padding-left: 1rem;
          font-size: 1.5rem;
        }
      }
  
      .detail {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        color: nb-theme(color-fg);
      }
    }
  
    .colors {
      display: flex;
      flex-direction: column;
  
      .item {
        display: flex;
        align-items: center;
        margin-bottom: 1.25rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
  
      .color {
        width: 86px;
        height: 60px;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        margin-right: 1rem;
      }
  
      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.25rem;
      }
    }
  
    .text-link {
      color: nb-theme(link-color);
    }
  
    .bg-link {
      background: nb-theme(link-color);
    }
  }
  

/*-----------------TOAST CSS START---------------------------*/
  @include nb-install-component() {

    nb-card-footer {
      padding-bottom: 0.25rem;
  
      button {
        margin: 0 1rem 1rem 0;
      }
    }
  
    /* stylelint-disable */
    toaster-container /deep/ {
       #toast-container .toast-close-button {
        right: 0;
      }
    }
    /* stylelint-enable */
  
    @include media-breakpoint-down(xs) {
      .dropdown-toggle {
        font-size: 0.75rem;
      }
    }
  }
  /*-----------------TOAST CSS END---------------------------*/


  
body {
  background-color: #e3fbff;
}
/* Just to center things */
.center {
  margin: 100px auto;
  width: 30px;
}



.qs2 {
  background-color: #009fe3;
  border-radius: 16px;
  color: #e3fbff;
  cursor: default;
  display: inline-block;
  font-family: 'Helvetica',sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: relative;
  text-align: center;
  width: 30px;
  
  .popover {
    background-color: white;// rgba(0,0,0,0.8);
    border-radius: 5px;
    bottom: 42px;
    box-shadow: 0 0 8px #009fe3; // rgba(0,0,0,0.4);
    color: #2a2a2a;
    display: none;
    font-size: 14px;
    font-family: 'Helvetica',sans-serif;
    //Position des Popover
    left: -225px;
    top: 40px;
    padding: 7px 10px;
    position: absolute;
    
    //Größe des Popover
    height: 100px;
    width: 350px;
    z-index: 1;

  }
  
  &:hover {
      .popover {
        display: block;
        -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
        -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
        -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
        
      }
    }
}




/* The element to hover over */
.qs3 {
  background-color: #009fe3;
  border-radius: 16px;
  color: #e3fbff;
  cursor: default;
  display: inline-block;
  font-family: 'Helvetica',sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: relative;
  text-align: center;
  width: 30px;
  
  .popover {
    background-color: white;// rgba(0,0,0,0.8);
    border-radius: 5px;
    bottom: 42px;
    box-shadow: 0 0 8px #009fe3; // rgba(0,0,0,0.4);
    color: #2a2a2a;
    display: none;
    font-size: 14px;
    font-family: 'Helvetica',sans-serif;
    //Position des Popover
    left: -225px;
    top: 40px;
    padding: 7px 10px;
    position: absolute;
    
    //Größe des Popover
    height: 80px;
    width: 350px;
    z-index: 1;

  }
  
  &:hover {
      .popover {
        display: block;
        -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
        -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
        -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
        
      }
    }
}



 /* The element to hover over */
 .qs4 {
  background-color: #009fe3;
  border-radius: 16px;
  color: #e3fbff;
  cursor: default;
  display: inline-block;
  font-family: 'Helvetica',sans-serif;
  font-size: 18px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  position: relative;
  text-align: center;
  width: 30px;
  
  .popover {
    background-color: white;// rgba(0,0,0,0.8);
    border-radius: 5px;
    bottom: 42px;
    box-shadow: 0 0 8px #009fe3; // rgba(0,0,0,0.4);
    color: #2a2a2a;
    display: none;
    font-size: 14px;
    font-family: 'Helvetica',sans-serif;
    //Position des Popover
    left: -225px;
    top: 40px;
    padding: 7px 10px;
    position: absolute;
    
    //Größe des Popover
    height: 60px;
    width: 350px;
    z-index: 1;

  }
  
  &:hover {
      .popover {
        display: block;
        -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
        -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
        -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
        
      }
    }
}




@-webkit-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-ms-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes move-up {
    from   { bottom: 30px; }
    to { bottom: 42px; }
}
@-moz-keyframes move-up {
    from   { bottom: 30px; }
    to { bottom: 42px; }
}
@-ms-keyframes move-up {
    from   { bottom: 30px; }
    to { bottom: 42px; }
}
