<h3>Händler in deiner Nähe</h3>

<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

  <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="showLargeModal()"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>{{sellerName}}</strong>
    </agm-info-window>
    
  </agm-marker>



<agm-marker 
  [latitude]="this.positionlat "
  [longitude]="this.positionlng"
  [label]="test"
  >
  
<agm-info-window>
  <strong>Mein Standort</strong>
</agm-info-window>

</agm-marker>


  <!-- <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
    <agm-info-window>
      <strong>Händler#XX</strong>
    </agm-info-window>
    
  </agm-marker>

-->
  
  <agm-circle [latitude]="this.positionlat" [longitude]="this.positionlng" 
      [radius]="100"
      [fillColor]="'blue'"
      [circleDraggable]="false"
      [editable]="false">

      <agm-info-window>
        <strong>Mein Standort</strong>
      </agm-info-window>
  </agm-circle>

</agm-map>