<!-- 1.Fall: Ungültiger Code-->
<div *ngIf="!couponCode && !collectCode">

    <div class="modal-header">
      <span aria-hidden="true">Code ungültig</span>
    </div>
  
    <div class="modal-body">
      
      Der erkannte Code ist ungültig.
  
    </div>
  
  
  
    <div class="modal-footer">
      <div class="button">
        <button class="btn btn-md btn-ghost" (click)="justClose()">OK</button>
      </div>
    </div>
  
  
  
  </div>

  


<!-- 2.Fall: Gutschein-->
<div *ngIf="couponCode">

  <div class="modal-header">
    <span aria-hidden="true">Gültiger Gutschein erkannt</span>
  </div>

  <div class="modal-body">
    <div class="coupon">
      <div class="couponText">{{couponText}}</div>
      <br> 
      <div class="couponDetail">{{coupondetail}}</div>
    </div>

  </div>

 

  <div class="modal-footer">
      <div class="button">
    <button class="btn btn-md btn-primary" (click)="bookCoupon()">Gutschein einlösen</button>
  </div>
  </div>

  <div class="modal-footer">
    <div class="button">
      <button class="btn btn-md btn-ghost" (click)="justClose()">Abbrechen</button>
    </div>
  </div>



</div>


<!-- 3.Fall: Sammelcode-->
<div *ngIf="collectCode">

    <div class="modal-header">
      <span>LoloCODE erkannt</span>
      <span aria-hidden="true">&times;</span>
    </div>
  

    <div class="modal-body">
      
      Bitte gebe die Umsatzhöhe dieses Einkaufs in EUR ein:

      <br>
      <br>

    <!--Eingabefeld-->
      <div class="input-group col-sm-12">
        <input id="umsatz" type="number" class="form-control" placeholder="Umsatz eingeben...">
      </div>
    </div>

  
  
    <div class="modal-footer">
        <div class="button">
      <button class="btn btn-md btn-primary" (click)="bookPoints()">LoloCOINs gutschreiben</button>
    </div>
    </div>
  
    <div class="modal-footer">
      <div class="button">
        <button class="btn btn-md btn-ghost" (click)="justClose()">Abbrechen</button>
      </div>
    </div>
  
  
  
  </div>

  <toaster-container [toasterconfig]="config"></toaster-container>