<nb-card style="max-width: 915px"> <!-- style="max-width: 525px"-->
    <nb-card-header>LoloCODE scannen</nb-card-header>
    <nb-card-body>
        <span id="instruction">Halten Sie den zu scannenden LoloCODE vor die Kamera oder geben Sie die Kunden ID manuell ein.</span>
        <br>
        <br>

        <!--Scanner //ffried 5.12.-->
        <ngx-tabs></ngx-tabs>



        <toaster-container [toasterconfig]="config"></toaster-container>

        <!--Eingabefeld //ffried 5.12.-->

    </nb-card-body>
</nb-card>