  <!--  <div class="modal-header">
        <span>{{ sellerHeader }}</span>
        <button class="close" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>-->

      <nb-card>
          <nb-card-header>Mein Gutschein</nb-card-header>
          <nb-card-body>
  
             
                    <div class="modal-body">
                      <div >
                            <div id="logoleft">
                                <img id="logopic" src="{{ sellerLogo }}">
                                <br>
                            </div>
                            <div id="textright"> {{ sellerText }}
                                <br><br>
                            </div>
                          </div>
                          </div>
                         

          </nb-card-body>
          
      </nb-card>

      <div class="modal-footer">
          <button class="btn btn-md btn-primary" (click)="closeModal()">Zurück</button>
    </div>

      
      